## Day 1 - 파이썬 기초(20.01.13.)

In [1]:
x = None
print(x)
type(x)

None

NoneType

In [2]:
sentence = """Hello world,
Hello Python"""
print(sentence)

Hello world,
Hello Python

In [3]:
s = "hello world"
s[:-1]

'hello worl'

In [4]:
name = "tom"
age = 12
print("I am %s" % name)
print("I am %s, %d years old" % (name, age))

I am tom
I am tom, 12 years old

In [5]:
"I like {0}, {1}".format("apple", "banana")

'I like apple, banana'

In [6]:
math = 95
english = 65
science = 40
print(f"수학점수: {math}\n영어점수: {english}\n 과학점수:{science}")

수학점수: 95
영어점수: 65
 과학점수:40

In [7]:
a="20190505chicken19000"
print(a[0:4],a[4:8],a[8:15],a[15:20],a[::-1])

2019 0505 chicken 19000 00091nekcihc50509102

In [8]:
a= "90:30:80"
math = int(a[0:2])
english = int(a[3:5])
science = int(a[6:8])
average = (math+english+science)/3
print("평균점수는: %.2f" % average)

평균점수는: 66.67

In [9]:
word = "Apple Banana"
print(len(word))
print(word.index("a"))
print(word.upper())
print(word.lower())

12
7
APPLE BANANA
apple banana

In [10]:
word = "                      Apple Banana              "
word.strip()

'Apple Banana'

In [11]:
scores = "10:20:30:40:50:60:70:80:90:"
a= scores.split(":")
type(a)
print(a)

['10', '20', '30', '40', '50', '60', '70', '80', '90', '']

In [12]:
score_list = ['10', '20', '30', '50', '80', '90']
','.join(score_list)

'10,20,30,50,80,90'

In [13]:
a = [1,2,3,4,5,6,7]
type(a)
a= [1, 'apple', 3.14, False]
type(a)

list

In [14]:
a= []
a= list(a)

In [15]:
b = (1,2,3,4)
b = list(b)
b.insert(1, 100)
b

[1, 100, 2, 3, 4]

In [16]:
a= [1,3452,543,4,54]
a[::-1]
len(a)

5

In [17]:
a = [100,200,300]
a.remove(200)
a

[100, 300]

In [18]:
a = [1,2,3,4,5]
a.index(3)

2

In [19]:
a = [1,2,3,4,5,56,235,3,4,6,2,4,43]
a.sort(reverse=True)
a

[235, 56, 43, 6, 5, 4, 4, 4, 3, 3, 2, 2, 1]

In [20]:
a = [1,2,3,4,5,6]
b = a

In [21]:
score = {'name': "Tome", "math": 80, "englisj": 80}
print(score)
score  = dict(name="Tom", math = 78, english=80)
print(score)

{'name': 'Tome', 'math': 80, 'englisj': 80}
{'name': 'Tom', 'math': 78, 'english': 80}

In [22]:
len(score)

3

In [23]:
score.setdefault("age", 20)
score

{'name': 'Tom', 'math': 78, 'english': 80, 'age': 20}

In [24]:
score.update({"math":99})
score

{'name': 'Tom', 'math': 99, 'english': 80, 'age': 20}

In [25]:
score  = dict(name="Tom", math = 78, english=80)
score.pop("name")
score

{'math': 78, 'english': 80}

In [26]:
score  = dict(name="Tom", math = 78, english=80)
score.keys()
score.values()
score.items()

dict_items([('name', 'Tom'), ('math', 78), ('english', 80)])

In [27]:
animal = {'dog', 'cat', 'monkey', 'horse'}
type(animal)
'cat' in animal

True

In [28]:
a = set('animal')
print(type(a))
print(a)

<class 'set'>
{'m', 'n', 'a', 'i', 'l'}

In [29]:
a = {1,2,3}
b = {3,4,5}
print(a|b)
print(set.union(a,b))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [30]:
a = {1,2,3,4}
b = {3,4,5}
print( a & b)
print(set.intersection(a,b))

{3, 4}
{3, 4}

In [31]:
a = {1,2,3,4}
b = {3,4,5}
print(a-b)
print(b-a)
print(set.difference(a,b))
print(set.difference(b,a))

{1, 2}
{5}
{1, 2}
{5}

In [32]:
a = {1,2,3,4}
b = {3,4,5}
print(a^b)
print(set.symmetric_difference(a,b))

{1, 2, 5}
{1, 2, 5}

In [35]:
a = {1,2,3,4}
print(a.issubset({1,2,3,4,5}))

True

In [37]:
a = {1,2,3,4}
a.isdisjoint({4,5,6,7,8})

False

In [38]:
a = {1,2,3,4}
a.add(5)
a

{1, 2, 3, 4, 5}

In [39]:
a = {1,2,3,4}
a.remove(3)
a

{1, 2, 4}

In [45]:
for i in range(0,10, 2):
    print("현재 값: %d" %i)

현재 값: 0
현재 값: 2
현재 값: 4
현재 값: 6
현재 값: 8

In [50]:
i = int(input("정수를 입력하시오"))
for i in range(1,i+1):
    print("*"*i)

정수를 입력하시오8
*
**
***
****
*****
******
*******
********

In [68]:
x = [3,6,9,20,-7,5]
for a, b in enumerate(x):
    x[a] *= 10
x

[30, 60, 90, 200, -70, 50]

In [74]:
y={'math':70, 'science':80, 'english':20}
for a, b in enumerate(y):
    y[b] += 10
y

{'math': 80, 'science': 90, 'english': 30}

In [75]:
i= 0
while i < 10:
    print("i는 %d" % i)
    i += 1

i는 0
i는 1
i는 2
i는 3
i는 4
i는 5
i는 6
i는 7
i는 8
i는 9

In [80]:
import random
random.randint(1,64)

15

In [85]:
a = [i*5 for i in range(3,10)]
a

[15, 20, 25, 30, 35, 40, 45]

In [86]:
c = [i for i in range(10) if i % 2 == 0]
c

[0, 2, 4, 6, 8]

In [87]:
c = [i*j for j in range(2,10) for i in range(1,10)]
c

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]